* {
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #878787;
  margin: auto;
}

#footer {
  position: fixed;
  color: #000;
  background: linear-gradient(#fff, transparent 90%),
              linear-gradient(0deg, #fff, transparent);
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.social-icon {
  color: #fff;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.t_border {
  border-top: 2px solid #000;
}

.connect {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  margin-top: 40px;
  margin-left: 170px;
}

#head {
  position: relative;
  padding-top: 170px;
  height: 450px;
  background: linear-gradient(#000, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #fff url('profile.jpg') no-repeat center;
  background-size: cover;
  color: white;
  text-align: center;
}

.title {
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-size: 20pt;
  margin-left: -255px;
  margin-top: -140px;

  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px soli;
  padding-bottom: 10px;
}

#one,
#two,
#three,
#collection {

  width: 75%;
  margin-left: 80px;
}

ul img {
  width: 200px;
  height: 180px;
}

ul {
  list-style-type: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* ---------- Media Queries ----------- */

/* For tablets */
@media (min-width: 600px){
  .title {
    color: #fff;
  }

  .connect {
    margin-lef
  }
}

/* For desktop */
@media (min-width: 768px) {
  .title {
    color: #fff;
    margin-left: -330px;
  }

  .connect {
    margin-left: 300px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .title {
    color: #fff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .title {
    color: #fff;
    margin-left: -420px;
  }

  .connect {
    margin-left: 600px;
  }

  ul img {
    width: 300px;
    height: 240px;
  }

  ul {
    list-style-type: none;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .title {
    color: #fff;
    margin-left: -520px;
  }

  #head {
    position: relative;
    padding-top: 170px;
    height: 320px;
    background: linear-gradient(#000, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                #fff url('profile.jpg') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
  }

  .connect {
    margin-left: 600px;
  }
}
